

<div id="divHome">
<div class="jumbotron jumbotron-fluid animated fadeInDown ">
    <div class="container ">
        <h1 class="display-3">{{ titulo }} </h1>
        <sub>Pedro Araya Gálvez</sub>
        <p class="lead">Utilizado como carta de presentación como desarrollador</p>
        <hr class="m-0">
        <p>Más Información</p>
        <p class="lead">

            <!-- <a class="btn btn-primary btn-lg" [routerLink]="['/portafolio']" routerLinkActive="active" role="button">
                Ir
                a mi Portafolio</a> -->
        </p>

    </div>
</div>


</div>


